<!DOCTYPE html>
<html>
  <head>
    <title>{{job.title}}</title>
    </title>
      {% include 'bootstrap.html' %}
      {% include 'nav.html' %}
      {% include 'banner.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
      <h1 class="text-center mt-2 mb-1">
        Vibe Careers
      </h1>
      <h4>Title</h4>
      <p>{{job.title}}</p>
      <h4>Location</h4>
      <p>{{job.location}}</p>
      <h4>Responsibilty</h4>
      <ul>
        {% for item in job.responsibility.split("\n") %}
         <li> {{ item }}</li>
        {% endfor %}
      </ul>
      <h4>Requirements</h4>
      <ul>
        {% for item in job.requirements.split("\n") %}
         <li> {{ item }}</li>
        {% endfor %}
      </ul>
      <h4>Salary</h4>
      <p>{{job.currency}}.{{job.salary}}</p>
      <div>
        {% include 'application_from.html' %}
      </div>
    {% include 'footer.html' %}
  </body>
</html>